@import "basic/body";
@import "basic/sidebar";
@import "basic/pageload";
@import "basic/typography";
@import "basic/main-panel";
@import "basic/main-content";
@import "basic/navbar";
@import "basic/header";
@import "basic/card";


a {
    background-color: transparent;
}


.ps-scrollbar-x-rail{
    left: 0px; bottom: 3px;
}
.ps-scrollbar-x{
    left: 0px; width: 0px;
}
.ps-scrollbar-y-rail{
    top: 0px; height: 320px; right: 0px;
}
.ps-scrollbar-y{
    top: 0px; height: 166px;
}

.bg-white {
    background-color: #fff;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif
}

.bg-primary {
    background-color: #6164C1
}
